<div class = "container">
<form action="/results" method="POST">
	

	<div class = "row">
		<div class = "column-md-12">
			<h1>SPACECATS!</h1>
		</div>
	</div>

	<div class = "row">
		<div class = "column-md-12">
			
			<h2>Create a new Spacecat<h2>
				<div class = "row">
					<div class = "col-md-6"> 
						<label for "cat_name">Cat Name:</label>
						<input id = "cat_name" type = "text" name = "cat_name">

						<label for "home_planet">Home Planet:</label>
						<input id = "home_planet" type = "text" name = "home_planet">

						<label for "cat_tagline">Your Cat Tagline:</label>
						<input id = "cat_tagline" type = "text" name = "cat_tagline">

						<label for "cat_superpower">Cat Superpower:</label>
						<input id = "cat_superpower" type = "text" name = "cat_superpower">
					</div>

					<div class = "col-md-6">
						<img src="http://placekitten.com/300/300">
					</div>
				</div>

		</div>
	</div>		


